
<% if message.new_date %>
  <div class="date-line text-center text-light">
    - <%= message.created_at.strftime("%F") %> -
  </div>
<% end %>

<div class="card mb-2 px-2 flex-row bg-dark text-light <%= 'me' if message.user == current_user %>">
  <div class="py-2 mr-2">
    <%= image_tag message.user.avatar_url, width: "40px", class: "rounded-circle" %>
  </div>

  <div class="content">
    <span class="name"><%= message.user.username %></span>

    <p class="my-0"><%= message.content %></p>

    <small class="text-secondary time">
      <%= time_ago_in_words message.created_at %> ago
    </small>
  </div>
</div>
