<div class="message-board border-bottom border-secondary">
  <h3 class="text-secondary text-center py-1 m-0" data-board="<%= board.id %>">--<%= board.name %>--</h3>
</div>

<div id="message-items">
  <% if messages.present? %>
    <%= render partial: "/messages/message", collection: messages, as: :message %>
  <% end %>
</div>

<%= form_with(model: Message.new, url: board_messages_path(board.slug), local: true, html: {class: "message-form form-inline my-1"}) do |form| %>
  <div class="form-group w-100 mx-0">
    <%= form.text_field :content, placeholder: "輸入訊息", class: "message-input form-control bg-secondary text-light" %>

    <%= button_tag(type: "submit", name: "commit", class: "message-btn btn rounded-circle mx-2") do %>
      <i class="fas fa-paper-plane"></i>
    <% end %>
  </div>
<% end %>
