<div class="modal fade" id="new-group" tabindex="-1" role="dialog" aria-labelledby="new-group-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <%= form_with(model: Group.new, local: true, html: {class: "my-4"}) do |form| %>
        <div class="modal-body">
          <h3>New Group</h3>
          <div class="form-group">
            <%= form.text_field :name, placeholder: "Group name" %>
          </div>
        </div>

        <div class="modal-footer">
          <div class="actions">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit "Create", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="groups-items d-flex flex-column align-items-center w-100 px-2 ">
  <% groups.each do |group| %>
    <%= link_to group_boards_path(group), class: "d-block my-2 group-item"  do %>
      <%= image_tag group.avatar_url, class: "w-100 rounded-circle border" %>
    <% end %>
  <% end %>

  <div class="btn bg-secondary text-light text-center rounded-circle group-item d-flex justify-content-center align-items-center", data-toggle="modal" data-target="#new-group">
    <span>+</span>
  </div>
</div>
