<div class="modal fade" id="new-group" tabindex="-1" role="dialog" aria-labelledby="new-group-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <%= form_with(model: newgroup, local: true, html: {class: "my-4"}) do |form| %>
        <div class="modal-body">
          <h3>New Group</h3>
          <div class="form-group">
            <%= form.text_field :name, placeholder: "Group name" %>
          </div>
        </div>

        <div class="modal-footer">
          <div class="actions">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit "Create", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="groups-list px-2">
  <% groups.each do |g| %>
    <!------g.boards.first.id????------------------------------->
    <%= link_to group_board_path(g, g.boards.first.id), class: "d-block my-2"  do %>
      <%= image_tag g.avatar.url, class: "w-100 rounded-circle" if g.avatar %>
    <% end %>
  <% end %>

  <div type="button" class="btn btn-primary rounded-circle d-block w-100 h-auto", data-toggle="modal" data-target="#new-group">
    <p class="my-2">+</p>
  </div>
</div>
