<div class="modal fade" id="new-board" tabindex="-1" role="dialog" aria-labelledby="new-board-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <%= form_with(model: Board.new, url: group_boards_path(group) ,local: true, html: {class: "my-4"}) do |form| %>
        <div class="modal-body">
          <h3>New board</h3>
          <div class="form-board">
            <%= form.text_field :name, placeholder: "board name" %>
          </div>
        </div>

        <div class="modal-footer">
          <div class="actions">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit "Create", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="board-items px-1">
  <% if boards.present? %>
    <% boards.each do |board| %>
      <%= link_to group_board_path(group, board) do %>
        <div class="card bg-secondary text-warning my-1 p-1">
          <%= board.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <button class="card btn bg-secondary text-light justify-content-center w-100 my-1 p-1" data-toggle="modal" data-target="#new-board">
    <span class="d-block m-auto">+</span>
  </button>
</div>
